
<!-- Mail Template -->
<div>

    <p>
        Find below the OTP to login to your account.
        <br>
        OTP will be valid for next 5 minutes.
        <br>
        <br>
        <b><%= data.otp %></b>
    </p>
    
    <br>
    <p style="color: red;">
        In case not done by you, Report action.
    </p>

</div>